

@media screen and (max-width:576px) {
    *{
        margin: 0px;
        padding: 0px;
    }
      /* style banner */
    .banner{
        flex-direction:column;
        flex-direction: column-reverse;
        margin: 0px auto;
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    .banner-content{
        text-align: center;
        width: 100%;
        /* width: 450px; */
    }
    .banner-head{
        font-size:2.7rem;
        width: 100%;
        
    }
    .banner-content p{
        font-size: 1.1rem;
    }
    .banner-btn{
        font-size: 1.2rem;
    }
  
    /* style curriculum */

    .curriculum{
        flex-direction:column;
        margin-bottom: 30px;
    }
    .curriculum-item{
        margin: 0px auto;
        margin-bottom: 12px;
    }
    .curriculum-item h3{
        margin-top: 25px;
    }
    .curriculum-item p{
        padding: 0 50px;
        font-size: 1rem;
    }
    .curriculum-title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .scrole{
        display: none;
    }







    /* footer style */
    .footer-content{
        flex-direction: column;
        margin: 0px auto;
        /* width: 450px; */
    }
    .kids p{
        margin-bottom: 35px;
    }
    .footer-social{
        margin-top: 35px;
    }
} 
