@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-kids {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}


/* header style */
.header {
    max-width: 1160px;
    margin: 0px auto;
}


/* nav style */
.nav {
    padding: 20px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    align-items: center;
    max-width: 200px;
}

.nav-logo img {
    width: 62px;
    height: 62px;
}

.nav-logo h3 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-left: 11px;
}

/* nav menu style*/

.nav-menu {
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 600;
    /* margin: 0px 186px; */
}

.nav-btn {
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(201, 132, 4);
    border: none;
    border-radius: 12px;
    color: white;
}

/* banner style */

.banner {
    justify-content: space-between;
    align-items: center;
    justify-items: space-between;
    gap: 50px;
    grid
}

.banner-content {
    width: 580px;
}

.banner-head {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-btn {
    padding: 10px 47px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 24px;
}



/* curriculum style */
.curriculums{
    background-image: url(../assets/bg.png);
}
.curriculum-title{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px
    
}
.curriculum{
    margin: 0px auto;
    max-width: 1160px;
    justify-content: space-between;

}
.curriculum-item{
    flex-direction:column;
    max-width:360px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.curriculum-item img{
    margin-top: 50px;
}
.curriculum-item p{
    color: #808080;
    font-size: 1rem;
    font-weight: 500;
    margin: 33px 0px;
    padding: 0px 15px;
}
.gradient-one{
    background:linear-gradient(180deg, rgb(252, 184, 184)-15%, rgba(255, 255, 255, 0)100%);
}
.gradient-two{
    background:linear-gradient(180deg, rgb(198, 253, 172)-15%, rgba(255, 255, 255, 0)100%);
}
.gradient-three{
    background:linear-gradient(180deg, rgb(188, 195, 250)-55%, rgba(255, 255, 255, 0)100%);
}
.read-more-one{
    background-color:#FAFFF7;
    border:none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 55px;
  }
.read-more-two{
    background-color:#FEF6F6;
    border:none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 55px;
  }
.read-more-three{
  background-color:#F9F9FE;
  border:none;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 55px;
}

.scrole{
    margin: 80px 0px;
 text-align: center;
}
.arrwo{
    font-size:1.65rem;
    font-weight: 500;
    color: white;
    background-color:orange;
    border: none;
    border-radius: 50%;
    padding: 14px 22px;
}








/* footer style */
.footer{
    background-color:#4cc2f8; ;
}
.footer-content{
    max-width:1100px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 120px 0px;

}
.kids{
    max-width: 400px;
}
.kids h3{
    font-size:2.5rem;
    line-height: .9;
    color: white;
}
.kids p{
    margin-top: 35px;
    font-size: 1.25rem;
}
.footer-list ul li{
    list-style: none;
    font-size:1.25rem;
    font-weight: 500;
}
.school{
    font-size:1.5rem;
    font-weight: 700;
}
.footer-list li{
    margin-bottom:25px ;
}
.footer-social h3{
    font-size:1.3rem;
    font-weight: 700;
    margin-bottom: 25px;
}